@import 'snippets';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Droid Sans', sans-serif;
}

#DialogWrapper {
    background: rgba(0, 0, 0, .7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
}

.customDialog {
    background: #FEFEFE;
    box-shadow: 0 0 14px 5px rgba(0, 0, 0, .5);
    height: 97%;
    padding: 0 10px;
    width: 95%;
    z-index: 300;

    h2 {
        margin: 30px auto;
        text-align: center;
    }
}

#customDialogClose {
    cursor: pointer;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 20px;
}



.emotion_tracker {
    width: 100%;

    @include breakpoint(small) {
        width: 100%;
    }
}

.selection,
.multiple_choice_selection
{
    border: solid 1px #CCC;
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 100%;
}

.options,
.multiple_choice
{
    background: #FFF;
    border: solid 1px #CCC;
    z-index: 10;
}

.message {
    width: 100%;
}

#saveEmotion,
.customDialogButton
{
    display: block;
    margin: 15px auto 0;
    padding: 10px 30px;
}
